{% extends 'base.html' %}


{% block page_content %}
<div class="visits">
     {% for visit in object_list %}
        <div class="row">
            <div class="col-md-6 offset-md-2" >
                <button class="btn btn-outline-success btn-block disabled">{{ visit }}</button>
            </div>   
            <div class="col-md-4">
                 <a href="{% url 'visit_creation' %}" class="btn btn-outline-secondary" role='button'>Zarezerwuj wizytę</a>
            </div>    
               
            

        </div>
        <br>
        {% endfor %}
</div>
       
{% endblock page_content %} 