{% extends 'base.html' %}

{% block page_content %}
    
    <div class="col-md-6 offset-md-1">
        
        <div class="row" >
            <h2 style="margin-bottom: 1rem;">Potwierdzone wizyty</h2>
        </div>
        {% if dates_taken %}
       
        {% for visit in dates_taken %}
            <div class="row">
                <div>
                    <button class="btn btn-outline-primary disabled">Data: {{visit.date}}</button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div>
                <button class="btn btn-outline-primary disabled ">Brak potwierdzonych wizyt.</button>
            </div>
        </div>
    {% endif %}
    {% if free_dates %}
    <br><br>
        <div class="row">
            <h2 style="margin-bottom: 1rem;">Terminy wolne:</h2>
        </div>
        {% for v in free_dates%}
        <div class="row">
            <div>
                <button class="btn btn-outline-primary disabled">Data: {{ v.date }}</button>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
     {% else %}
        <div>
            <button class="btn btn-outline-primary disabled ">Brak zaplanowanych wizyt.</button>
        </div>
    {% endif %}
  

{% endblock page_content %}