{% extends 'base.html' %}


{% block page_content %}
<div class="row" style="margin-top: 2rem;">
    <div class="col-md-6 offset-md-3">
        <button class='btn btn-block'>Czy usunąć zaplanowaną wizytę?</button>
        <br>
        <form action="" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary">{{ visit.doctor}}</button>
        <button class="btn btn-danger" type='submit'>TAK</button>
        <a class="btn btn-primary" href="{% url 'visits_list' %}" role="button">NIE</a>
    </form>
    </div>
</div>
    

{% endblock page_content %}