{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block page_content %}
<div class="row" style="margin-top: 2rem;">
    <div class="col-md-4 offset-md-1">
        <h3>Password change</h3>
        <p>Wprowdź swoje stare hasło, a potem wprowadź nowe hasło 2razy.</p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy}}
            <button class="btn btn-success" type="submit">Zmień hasło</button>
        </form>
    </div>
</div>
{% endblock page_content%}