{% extends 'base.html' %}
{% block page_content %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_patient %}
        Witaj pacjencie {{ user.username }}!
        {% else %}
        Witaj lekarzu {{ user.username }}
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-6 text-justyfy " id="index_content">
                {% for item in info  %}
                    <p>{{ item}}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock page_content %}