{% extends 'base.html' %}
{% block page_content %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_patient %}
        <div class="row">
            <div class="col-6 text-justyfy " id="index_content">
                 Witaj pacjencie {{ user.username }}!
            </div>
        </div>
       
        {% else %}
        <div class="row">
            <div class="col-6 text-justyfy " id="index_content">
                Witaj lekarzu {{ user.username }}
            </div>
        </div>
        
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-6 text-justyfy " id="index_content">
                {% for item in info  %}
                    <p>{{ item}}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock page_content %}